:root {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans;
}

/* .header-left {
  flex: 2 0 0;
  display: flex;
  align-items: center;
  margin-right: 50px;
} */

.header-left {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}

.header-left img {
  width: 30px;
  height: 30px;
  margin-right: 1.5rem;
  aspect-ratio: 1;
  padding: 0;
}

.header-left input#search-bar {
  flex: 1 0 0;
  border-radius: 20px;
  border: none;
  height: 40px;
  font-size: 1.6rem;
  padding: 0 15px;
  outline: none;
  background-color: #ddd;
}

/* .header-right {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
  gap: 30px;
} */

.header-right {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right > div {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right .profile-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.header-right img {
  width: 30px;
  height: 30px;
}

.header-right p {
  padding: 0;
  margin: 0;
  font-size: 3.4rem;
  font-weight: 700;
}
