:root {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-weight: 400;

  --main-blue: #1992D4;
  --dark-blue: #066192;
  --second-white: #E2E8F0;
  --main-white: #FFFFFF;
  --main-yellow: #F0B429;
  --main-black: #000000;
  --main-box-shadow: 0px 7px 5px 0px rgba(163, 163, 163, 0.4);
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans;
}

/* Start Header */
.header-left {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}

.header-left img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
  aspect-ratio: 1;
  padding: 0;
}

.header-left input#search-bar {
  flex: 1 0 0;
  border-radius: 2rem;
  border: none;
  height: 4rem;
  font-size: 1.6rem;
  padding: 0 2rem;
  outline: none;
  background-color: #ddd;
}

.header-right {
  margin-left: 15rem;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header-right>div {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header-right .profile-image-small img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.header-right img {
  width: 3rem;
  height: 3rem;
}

.header-right p {
  font-size: 2.6rem;
  font-weight: 700;
}

.header-bottom .profile-image-big img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

button.header-btm-right-btn {
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--main-blue);
  color: var(--main-white);
}

p.tiny-label {
  font-size: 2rem;
  font-weight: 700;
}

p.main-label {
  font-size: 3.2rem;
  font-weight: 700;
}

/* Start Left Nav */
.left-nav-container .left-nav-logo img {
  width: 7rem;
  height: 7rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(75deg) brightness(100%) contrast(100%);
}

.left-middle-nav {
  padding: 0 2rem;
}

.left-nav-container p.logo-title {
  font-size: 3.2rem;
  font-weight: 700;
}

.left-middle-nav ul>li img {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  justify-self: center;
  filter: brightness(0) invert(1);
}

.left-middle-nav>ul>li p {
  font-size: 2rem;
  font-weight: 600;
  text-indent: 1rem;
}

.left-middle-nav>ul>li {
  padding: 0.6rem 0;
  border-radius: 0.5rem;
}

.left-middle-nav>ul>li:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

.left-bottom-nav {
  padding: 0 2rem;
}

.left-bottom-nav ul>li img {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  justify-self: center;
  filter: brightness(0) invert(1);
}

.left-bottom-nav>ul>li {
  padding: 0.6rem 0;
  border-radius: 0.5rem;
}

.left-bottom-nav>ul>li:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

.left-bottom-nav>ul>li p {
  font-size: 2rem;
  font-weight: 600;
  text-indent: 1rem;
}