.grid-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: min-content 3fr 1fr min-content;
}

/* Start header grid code */

.header-container {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 2rem 5rem 2rem 5rem;
  margin-bottom: 3rem;
  box-shadow: var(--main-box-shadow);
  gap: 3rem;
  background-color: var(--main-white);
}

.right-sidebar-container {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  background-color: brown;
}

.header-bottom {
  grid-column: 1 / 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1.75fr 1fr;
}

.header-bottom-left {
  grid-column: 1 / 2;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  line-height: 1.4;
}

.header-bottom-right {
  grid-column: 2 / 3;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;
}

.footer-container {
  grid-column: 1 / 4;
  grid-row: 4;
  background-color: blueviolet;
}

/* Start Left Nav grid code */
.left-nav-container {
  grid-column: 1 / 2;
  grid-row: 1 / span 3;
  background-color: var(--main-blue);
  color: var(--main-white);
  display: grid;
  grid-template-rows: 1fr 4fr 6fr;
  padding: 1rem 1rem;
  gap: 5rem;
}

.left-nav-container .left-nav-logo {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding-left: 1rem;
  margin-top: 1rem;
}

.left-middle-nav ul {
  display: grid;
  gap: 1rem;
}

.left-middle-nav>ul>li {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 6fr;
  align-items: center;
}

.left-bottom-nav ul {
  display: grid;
  gap: 1rem;
}

.left-bottom-nav>ul>li {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 6fr;
  align-items: center;
}

/* Start Content CSS */
.content-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 10fr;
  padding: 0 5rem;
}

.content-main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-columns: min-content;
  justify-content: space-around;
  grid-auto-rows: min-content;
  gap: 4rem;
}

.content-main-container>div {
  background-color: var(--main-white);
  border-radius: 1rem;
  border-left: 1rem solid var(--main-yellow);
  box-shadow: var(--main-card-shadow);
  padding: 3rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}